<md-list class="doctors-list">
  <div layout="row" layout-align="space-between center">
    <md-subheader class="md-no-sticky" hide-xs>
      {{$ctrl.socket.doctors.length || 0}} doctors
    </md-subheader>
    <div layout="row" layout-align="end center">
      <md-autocomplete ng-show="$ctrl.searchVisible"
        md-selected-item="$ctrl.searchSelected"
        md-search-text="$ctrl.search.name"
        md-items="item in $ctrl.searchQuery($ctrl.search.name)"
        md-item-text="item.display"
        placeholder="By name">
        <md-item-template>
          <span md-highlight-text="$ctrl.search.name" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>No match "{{$ctrl.search.name}}".</md-not-found>
      </md-autocomplete>
      <md-button flex-order-xs="-1" class="md-fab md-mini md-hue-2" aria-label="Search doctor list" ng-click="$ctrl.toggleSearch()">
        <ng-md-icon icon="{{$ctrl.searchIcon}}" style="fill: white" options="{{$ctrl.searchIconOptions}}"></ng-md-icon>
      </md-button>
    </div>
  </div>
  <doctor-item ng-repeat="doctor in $ctrl.socket.doctors | filter:$ctrl.search"
    doctor="doctor"
    last="$last">
  </doctor-item>
</md-list>